<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartHumpyController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SmartHumpyController.Properties.Settings.Sys_DBConnection"
            connectionString="Data Source=localhost;Initial Catalog=SmartHumpy_v1.0.7.0;User ID=sa;Password=bcds;Max Pool Size=1000"
            providerName="System.Data.SqlClient" />
        <add name="SmartHumpyEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SmartHumpy;user id=sa;password=bcds;multipleactiveresultsets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><userSettings>
        <SmartHumpyController.Properties.Settings>
            <setting name="Sys_HumpyId" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="Rd_UHFReader_IP" serializeAs="String">
                <value>10.248.252.197</value>
            </setting>
            <setting name="Rd_HFReader_COM" serializeAs="String">
                <value>COM18</value>
            </setting>
            <setting name="Rd_HFReader_Baudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Rd_Ant1Power" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Rd_Ant2Power" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Rd_Ant3Power" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Rd_Ant4Power" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Rd_ant1Sensitivity" serializeAs="String">
                <value>-70</value>
            </setting>
            <setting name="Rd_ant2Sensitivity" serializeAs="String">
                <value>-70</value>
            </setting>
            <setting name="Rd_ant3Sensitivity" serializeAs="String">
                <value>-70</value>
            </setting>
            <setting name="Rd_ant4Sensitivity" serializeAs="String">
                <value>-70</value>
            </setting>
            <setting name="Rd_Type" serializeAs="String">
                <value>R420</value>
            </setting>
            <setting name="Rd_Filter1" serializeAs="String">
                <value />
            </setting>
            <setting name="Rd_Filter2" serializeAs="String">
                <value />
            </setting>
            <setting name="Sys_RetrieveTimer_ms" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Sys_TagReadSensitivity_ms" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="CheckInOutWaitingTime_ms" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Sys_HumpyGroupName" serializeAs="String">
                <value />
            </setting>
            <setting name="FullStatusReportTimer_ms" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="Sys_TagINsensitivity_ms" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Rd_SearchMode" serializeAs="String">
                <value>DualTarget</value>
            </setting>
            <setting name="Rd_ReaderMode" serializeAs="String">
                <value>MaxThroughput</value>
            </setting>
            <setting name="Rd_SessionNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sys_DBorLocalLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sys_password" serializeAs="String">
                <value />
            </setting>
        </SmartHumpyController.Properties.Settings>
    </userSettings>
</configuration>
